ody {
    margin: 0%;
}
/* começo do cabeçlho do sate */

header {
    background-color:#D4AF37;
    justify-content:space-around;
    align-items:center;
    display: flex;


}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    gap: 10px;
}


header h1 {
    color:#FDFDFB;
    display: flex;
    font-size: 40px;

}
/*final do cabeçalho*/

header ul {
    
    color:white;
    font-size:20px;
    justify-content:right;
    display: flex;
    gap: 20px;

}

header ul li {

    list-style: none;

}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.section-b {

    background-color: blue;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.div-b-01 {
    text-align: center;
    width: 200px;
    background-color: aqua;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 200px;
}

.div-b-01 p {
    text-align: center;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    padding: 50px;
}

.div-b-01 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.div-b-01 a {
    text-decoration: none;
    color: black;

}