ody {
    margin: 0%;
}
/* começo do cabeçlho do sate */

header {
    background-color:#f8DF82;
    justify-content:space-around;
    align-items:center;
    display: flex;


}


header h1 {
    color:black;
    display: flex;
    font-size: 40px;

}

header button a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

.header button {

    border-radius: 50px;
    font-size: 15px;

}

header ul {
    
    color:black;
    font-size:20px;
    justify-content:right;
    display: flex;
    gap: 20px;

}

header ul li {

    list-style: none;
    text-decoration:double underline;
    color:#D4AF37;

}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;

}

.section-b {

    background-color: white;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.div-b-01 {
    text-align: center;
    width: 200px;
    background-color:#D4AF37;
    padding: 5px;
    box-shadow: 10px 10px 15px black;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 200px;
}



.div-b-01 img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    

}

.div-b-01 a {
    text-decoration: none;
    color: black;

}


.div-b-01 i {
    padding: 35px;
    color: black;
}

footer {
    background-color: #D4AF37;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

footer i {
    color:black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-self: unset;

}

footer p {
    font-size: 15px;
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

    footer h2 {
        margin: 0;
        font-size: 20px;
        color: black;

    }

    footer ul {
        list-style: none;
        padding: 0%;


    }

    footer ul li {
        display: inline;
        margin-right: 10px;
        list-style: none;


    }

    footer ul li a {
        text-decoration: none;
        color: black;

    }