body {
    margin: 0%;
}
/* começo do cabeçlho do sate */

header {
    background-color:#D4AF37;
    justify-content:space-around;
    align-items:center;
    display: flex;


}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    gap: 10px;
}


header h1 {
    color:#FDFDFB;
    display: flex;
    font-size: 40px;

}

header ul {
    
    color:white;
    font-size:20px;
    justify-content:right;
    display: flex;
    gap: 20px;

}

header ul li {

    list-style: none;

}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: aliceblue;
    background-image: url(imagem/lupa.png) ;
    background-position: 10px 10px;
    background-repeat:no-repeat;
    padding: 0.5px 10px 10px 150px ;
}


input img.url {
    width:10px;

}

.lo {
background-color: rgb(211, 109, 109);
padding:0.2%;

}

.lo td {
    padding:0.2%;
    font-size: 15px;
    color: black;
    text-align: right;
    align-items: center;
    justify-content: space-evenly;

}

.lo img {
    width: 25px;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;


}

   

.na img {
    padding: 15px;
    width: 50px;
    display: flex;
    align-items: center;

}

.na {
    background-color: rgb(211, 109, 109);
    padding:0.5%;
    
}

.section-01 {
    padding: 200px;
    background-image: url(imagem/aliança-trave.jpg);
    background-attachment: fixed;
    background-position: center top;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-02 {
    background-color: blue;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15px;
    padding: 100px;



}

.div-section-02 {
    width: 350px;
    height: 350px;
    background-color: turquoise;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}

.div-a {
    font-size: 20px;
    color: blanchedalmond;
    text-transform: uppercase;
}

.div-a p {
    
    font-size: 15px;
    font-family: arial;

 }

.div-a img {
    width: 20px;
    height: 20px;
    
} 

.div-b { 
    font-size: 20px;
    color: blanchedalmond;
    text-transform: uppercase;
}

.div-b img {

}

footer {
    background-color: aqua;
    padding: 100px;
    color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

footer {
    color: yellow;
    font-size: 30px;
    margin-left: 20px;

}






