body {
    margin: 0%;
}
/* começo do cabeçlho do sate */

header {
    background-color:#D4AF37;
    justify-content:space-evenly;
    align-items:center;
    display: flex;
    width: 100%;
    padding: 10px;
    gap: 10px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index:0;

}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    gap: 10px;
}


header h1 {
    color:#FDFDFB;
    display: flex;
    font-size: 40px;

}
/*final do cabeçalho*/

header ul {
    
    color:white;
    font-size:20px;
    justify-content:right;
    display: flex;
    gap: 20px;

}

header ul li {

    list-style: none;

}

header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: aliceblue;
    background-image: url() ;
    background-position: 10px 10px;
    background-repeat:no-repeat;
    padding: 0.5px 10px 10px 150px ;
}


input img.url {
    width:10px;

}

.lo {
background-color: #D4AF37;
padding:0.2%;
display: flex;
justify-content: space-evenly;
align-items: center;
text-align: center;
position: fixed;
width: 100%;
padding: 10px;
gap: 10px;
top: 0;
left: 0;
right: 0;
z-index: 0;

}

.lo div {
    padding:0.2%;
    font-size: 15px;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    gap: 10px;

}

.lo img {
    width: 25px;
    gap: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;


}

.lo a {
    text-decoration: none;
    color: black;
}

/*final do segundo cabeçalho*/

.na img {
    padding: 15px;
    width: 50px;
    display: flex;
    align-items: center;

}

.na {
    background-color: white;
    padding:0.5%;
    
}
/* imagem fixa  */
.imagem-fixa {

    background-image: url(imagem/aliança-trave.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    
}

.section-02 {
    background-color:#f8DF82;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 30px;
    padding: 50px;

}

.div-a a {
    text-decoration: none;
    color: black;
}

.div-a {
    text-align: center;
    width: 280px;
    background-color:#D4AF37;
    padding: 0px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 300px;
}

.div-a p {
    color: black;
    font-size: 15px;
    font-family: arial;
    font-weight: bold;
    list-style: none;
    padding: 0px;


} 

.div-a i {
padding: 35px;

}


.div-a img {
    width: 250px;
    padding: 0px;
    height: 110px;
    
} 

.div-a:hover {
    background-color: white;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 10px 10px 20px black;
    cursor: pointer;
    color: black;

}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;


}

.mapa {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 40px;
}

.mapa-1 iframe{
    border: none;
    width: 480px;
    height: 270px;
}

.cadastro {
    background-color: #D4AF37;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 10px;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
    height: 150px;
}

.cadastro p {
    font-size: 10px;
    color: black;
    font-weight: bold;
    text-align: center;

}

/*início da pagina brincos*/


/* inicio do footer */

footer {
    background-color: #D4AF37;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

footer i {
    color:black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-self: unset;

}

footer p {
    font-size: 15px;
    color:black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

    footer h2 {
        margin: 0;
        font-size: 20px;
        color: black;

    }

    footer ul {
        list-style: none;
        padding: 0%;


    }

    footer ul li {
        display: inline;
        margin-right: 10px;
        list-style: none;


    }

    footer ul li a {
        text-decoration: none;
        color: black;

    }

/* final do footer */








